
@mixin equalSpaced( $number_of_columns, $margin, $container_width){
    margin-left: $margin;
 width: ($container_width - ($margin * ( $number_of_columns - 1 ) ) ) / $number_of_columns;
    
    
    &:first-child{
    margin-left: 0;
    }

    
}

@mixin linear-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}

